/* Reset Settings */

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     user-select: none;
     -webkit-user-drag: none;
     -o-user-drag: none;
     -moz-user-drag: none;
     -ms-user-drag: none;
     font-family: calibri, tahoma;
     color: var(--golden-color--);
}

/* Global Settings  */

.cul-1 {
     width: 8.3333%;
}

.cul-2 {
     width: 16.6666%;
}

.cul-3 {
     width: 24.9999%;
}

.cul-4 {
     width: 33.2222%;
}

.cul-5 {
     width: 35.5555%;
}

.cul-6 {
     width: 49.8888%;
}

.cul-7 {
     width: 58.1111%;
}

.cul-8 {
     width: 66.4444%;
}

.cul-9 {
     width: 74.7777%;
}

.cul-10 {
     width: 83%;
}

.cul-11 {
     width: 91.3333%;
}

.cul-12 {
     width: 100%;
}

:root {
     --BG-color--: #1c1c1c;
     --golden-color--: #ffe002;
     --golden-color-2--: #ffb606;
     --golden-color-3--: #b28228;
     --color-dark--: #0c0c0c;
}

a {
     color: var(--golden-color--);
     text-decoration: none;
}

h3 {
     display: inline-block;
     font-size: 1.4vw;
     position: absolute;
     right: 3vmin;
}

/* Scroll Bar  */

html {
     scroll-behavior: smooth;
}

::-webkit-scrollbar {
     width: 2vmin;
     background: -webkit-linear-gradient(top, var(--golden-color-3--), var(--golden-color-2--), var(--golden-color-3--));
}

::-webkit-scrollbar-thumb {
     background: -webkit-linear-gradient(top, var(--color-dark--), var(--BG-color--), var(--color-dark--));
     border-radius: 100000vw;
}

/* Body Style  */

body {
     background: var(--BG-color--);
     position: relative;
     height: 100%;
}

/* Header Style  */

header {
     background-color: var(--BG-color--);
     padding: 20px;
     width: 100%;
     border-bottom: 2px solid var(--golden-color--);
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.AH-title {
     color: var(--golden-color--);
     font: 600 2vw tahoma;
     background: -webkit-linear-gradient(#dbbd10, rgb(49, 46, 32));
     text-shadow: 0 0 5px #dbbd1049;
     -webkit-background-clip: text;
     background-clip: text;
     -o-background-clip: text;
     -ms-background-clip: text;
     -moz-background-clip: text;

     -o-text-fill-color: transparent;
     -moz-text-fill-color: transparent;
     -ms-text-fill-color: transparent;
     -webkit-text-fill-color: transparent;
}

header section {
     margin-left: 10%;
     font: bold 1.3vw calibri, tahoma;
}

header section div p {
     display: inline-block;
     margin-left: 0.1vw;
}

/* Main And Aside  */

.main-aside {
     display: flex;
     flex-wrap: wrap;
}
/* Aside Style  */

aside {
     font: 400 1.5vw calibri, tahoma;
     border: 2px solid var(--golden-color--);
     border-radius: 1vmin;
     height: 25vw;
     padding-right: 3vw;
     margin: 6vh 4vw 0 0;
     display: flex;
     align-items: center;
     justify-content: center;
}

/* Main Style  */

main {
     margin: 5vh 15% 0 0;
}

/* Video And Buttons Box - Style */

main section {
     display: flex;
     flex-flow: wrap column;
     -ms-flex-flow: wrap row;
     justify-content: center;
     border-radius: 1vmin;
}

/* Video Player Style  */

.video {
     margin: 0 auto;
     -ms-text-fill-color: var(--golden-color-2--);
     -webkit-text-fill-color: var(--golden-color-2--);
     -o-text-fill-color: var(--golden-color-2--);
     -moz-text-fill-color: var(--golden-color-2--);
     border: 1.7px solid var(--golden-color--);
     border-radius: 1vmin;
}

.video:focus {
     outline: none;
}

/* Buttons Style  */

.Buttons-box {
     margin: 0 auto;
}

.Buttons {
     background: -webkit-linear-gradient(right, var(--golden-color-3--), var(--golden-color-2--), var(--golden-color-3--));
     border: none;
     border-radius: 0.75vmin;
     text-align: center;
     margin: 0 auto;
     margin-top: 3vmin;
     padding: 1vmin;
     font-size: 1.2vw;
     display: block;
     font-weight: bold;
     color: var(--color-dark--);
     box-shadow: 0.1vmin 0.1vmin 0.25vmin var(--color-dark--), 0.2vmin 0.2vmin 0.4vmin var(--golden-color-2--);
     cursor: pointer;
}

.Buttons:focus {
     outline: none;
}

/* Download Button style  */

.download-video_button {
     margin-top: 3vh;
}

/* Footer Style */

footer {
     font: 200 1.5vw calibri, tahoma;
     text-align: center;
     vertical-align: middle;
     padding: 3vmin 5vmin;
     border-radius: 1vmin;
     border: 2px solid var(--golden-color--);
     height: 10vw;
     margin: 7vh 4vw 0 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

/* for phone and tablet  */

@media only screen and (max-width: 600px) {
     .cul-5 {
          width: 65%;
     }

     .cul-4 {
          width: 60%;
     }

     .Aside-footer {
          margin: 0 auto;
     }

     main {
          margin: 5vh auto;
     }

     footer {
          margin: 7vh 0 0 0;
          font-size: 1.9vw;
     }

     aside {
          margin: 6vh 0 0 0;
          font-size: 1.9vw;
     }

     .Buttons {
          font-size: 1.8vw;
     }
}
